<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jlyr"
    android:versionCode="41"
    android:versionName="1.5.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".JLyrMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LyricBrowser" >
        </activity>
        <activity android:name=".LyricSearch" >
        </activity>
        <activity android:name=".LyricViewer" >
        </activity>
        <activity android:name=".JLyrSettings" >
        </activity>
        <activity android:name=".preference.JLyrSourceSelector" >
        </activity>
        <activity android:name=".JLyrAbout" >
        </activity>

        <service
            android:name=".LyricService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.jlyr.playstatechanged" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.AndroidMusicJRTStudioBuildReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.jrtstudio.music.metachanged" />
                <action android:name="com.jrtstudio.music.playstatechanged" />
                <action android:name="com.jrtstudio.music.playbackcomplete" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.HeroMusicReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.htc.music.metachanged" />
                <action android:name="com.htc.music.playbackcomplete" />
                <action android:name="com.htc.music.playstatechanged" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.WinampMusicReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.nullsoft.winamp.metachanged" />
                <action android:name="com.nullsoft.winamp.playbackcomplete" />
                <action android:name="com.nullsoft.winamp.playstatechanged" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MyTouch4GMusicReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.real.IMP.metachanged" />
                <!-- don't know if these two works -->
                <action android:name="com.real.IMP.playbackcomplete" />
                <action android:name="com.real.IMP.playstatechanged" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MIUIMusicReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.miui.player.metachanged" />
                <action android:name="com.miui.player.playstatechanged" />
                <action android:name="com.miui.player.playbackcomplete" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.SEMCMusicReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.sonyericsson.music.playbackcontrol.ACTION_PLAYBACK_PLAY" />
                <action android:name="com.sonyericsson.music.playbackcontrol.ACTION_PLAYBACK_PAUSE" />
                <action android:name="com.sonyericsson.music.TRACK_COMPLETED" />
                <action android:name="com.sonyericsson.music.metachanged" />
                <action android:name="com.sonyericsson.music.playbackcomplete" />
                <action android:name="com.sonyericsson.music.playstatechanged" />

                <!-- from https://github.com/Ambroos/Xperia-Scrobbler-2013-Compatibility/ -->
                <action android:name="com.sonyericsson.music.playbackcontrol.ACTION_TRACK_STARTED" />
                <action android:name="com.sonyericsson.music.playbackcontrol.ACTION_PAUSED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.RdioMusicReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.rdio.android.playstatechanged" />
                <action android:name="com.rdio.android.metachanged" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.SamsungMusicReceiver"
            android:enabled="true"
            android:exported="true" >

            <!-- doesn't work -->
            <intent-filter>
                <action android:name="com.samsung.sec.android.MusicPlayer.metachanged" />
                <action android:name="com.samsung.sec.android.MusicPlayer.playbackcomplete" />
                <action android:name="com.samsung.sec.android.MusicPlayer.playstatechanged" />
                <action android:name="com.samsung.music.metachanged" />
                <action android:name="com.samsung.music.playbackcomplete" />
                <action android:name="com.samsung.music.playstatechanged" />
                <action android:name="com.samsung.sec.metachanged" />
                <action android:name="com.samsung.sec.playbackcomplete" />
                <action android:name="com.samsung.sec.playstatechanged" />
                <action android:name="com.samsung.sec.android.metachanged" />
                <action android:name="com.samsung.sec.android.playbackcomplete" />
                <action android:name="com.samsung.sec.android.playstatechanged" />
                <action android:name="com.samsung.MusicPlayer.metachanged" />
                <action android:name="com.samsung.MusicPlayer.playbackcomplete" />
                <action android:name="com.samsung.MusicPlayer.playstatechanged" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.ScrobbleDroidMusicReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="net.jjc1138.android.scrobbler.action.MUSIC_STATUS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.SLSAPIReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.adam.aslfms.notify.playstatechanged" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.LgOptimus4xReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.lge.music.metachanged" />
                <action android:name="com.lge.music.playstatechanged" />
                <action android:name="com.lge.music.endofplayback" />
            </intent-filter>
        </receiver>
    </application>

</manifest>